.navbar { 
    height: 80px; 
    color: white; 
    background-color: black;
    border-bottom: 1px white solid;
    max-width: 100vw;
}

.navbar h1 {
    margin: 0px;
    padding: 1rem;
}

.swiperContainer {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiperSlide {
    width: 80vw;
    border: solid white 1px;
    border-radius: 8px;
    margin-bottom: 2rem;
}